
.todos-filterBy {

  /**
   *  .todos-filterBy
   *  ---
   *  Estilo principal do elemento de
   *  filtros do componente.
   */
  & {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-sm;
    margin-left: 1rem;
  }

  /**
   *  .todos-filterBy @below 700px
   *  ---
   *  Ajuste do estilo para telas menores
   */
  @media (max-width: 700px) {
    flex: 1;
    margin-left: -1rem;
    padding: .8rem 0;
  }

  /**
   *  .todos-filterBy__button
   *  ---
   *  Estilo dos botões de filtro.
   */
  &__button {
    
    // .todos-filterBy__button
    & {
      display: flex;
      justify-content: center;
      opacity: .5;
      padding: .5rem;
      cursor: pointer;
      font-size: $font-size-md;
      border-bottom: 2px solid $grey-light;
    }

    // .todos-filterBy__button @below 700px
    @media (max-width: 700px) {
      flex: 1;
      font-size: $font-size-sm;
    }
    
    // .todos-filterBy__button:hover
    &:hover {
      opacity: .8;
    }

    // .todos-filterBy__button.active
    &.active {
      opacity: 1;
      border-color: $primary-lightest;
    }
  
    // .todos-filterBy__button:focus
    &:focus {
      outline: 0
    }
  }

}
