
.todos-form {

  /**
   *  .todos-form
   *  ---
   *  Estilo do formulário.
   */
  & {
    width: 640px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
  }

  /**
   *  .todos-form @below 700px
   *  ---
   *  Adaptação para telas menores.
   */
  @media (max-width: 700px) {
    max-width: 100vw;
  }

  /**
   *  .todos-form.active .todos-form__add
   *  ---
   *  Estilo do botão de adição quando
   *  o formulário está ativo.
   */
  &.active &__add {
    opacity: 0;
    transition: all 0.25s;
    transform: scale(0);
  }

  /**
   *  .todos-form__add
   *  ---
   *  Estilo do botão de adição.
   */
  & .todos-form__add {

    // .todos-form__add
    & {
      position: absolute;
      top: -2.5rem;
      right: -1rem;
      z-index: 1;
      opacity: 1;
      width: 3rem;
      height: 3rem;
      color: $white;
      background-color: $red;
      font-weight: bold;
      text-align: center;
      font-size: $font-size-xl;
      border-radius: 50%;
      cursor: pointer;
      transform: scale(1);
      transition: all 0.25s;
      transition-delay: 0.25s;
    }
    
    // .todos-form__add @below 700px
    @media (max-width: 700px) {
      right: 1rem;
    }

    // .todos-form__add:hover
    &:hover {
      background-color: $red-light;
    }
  }

  /**
   *  .todos-form__input
   *  ---
   *  Estilo do input.
   */
  &__input {

    // .todos-form__input
    & {
      position: absolute;
      left: 0rem;
      top: 0rem;
      z-index: -1;
      height: 0rem;
      width: 636px;
      opacity: 0;
      padding: 1rem;
      border-radius: 0.25rem;
      transition: all 0.25s;
    }

    // .todos-form__input @below 700px
    @media (max-width: 700px) {
      max-width: 100%;
    }

    // .todos-form__input.active
    &.active {
      top: 0;
      left: 0;
      width: 636px;
      height: 2rem;
      background: white;
      opacity: 1;
      transition: all 0.25s;
      transition-delay: 0.25s;
      z-index: 1;
    }

    // .todos-form__input:hover
    &:hover {
      border-color: $grey-light;
    }

    // .todos-form__input:focus
    &:focus {
      border-color: $primary-lightest;
    }
    
  }

}
