.todos-filterBy {
  & {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-sm;
    margin-left: 1rem;
    @media (max-width: 700px) {
      flex: 1;
      margin-left: -1rem;
      padding: .8rem 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: $font-size-md;
    padding: .5rem;
    border-bottom: 2px solid $grey-light;
    position: relative;
    opacity: .5;
    cursor: pointer;
    @media (max-width: 700px) {
      flex: 1;
      font-size: $font-size-sm;
    }
  }

  &__button:hover {
    opacity: .8;
  }

  &__button.active {
    opacity: 1;
    border-color: $primary-lightest;
  }

  &__button:focus {
    outline: 0
  }

}