
.todos-todo {
  
  /**
   *  .todos-todo
   *  ---
   *  Estilo do elemento tarefas.
   */
  & {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey-lighter;
  }
  
  /**
   *  .todos-todo
   *  ---
   *  Adaptação para telas menores.
   */
  @media (max-width: 700px) {
    max-width: 100%;
  }

  /**
   *  .todos-todo:hover
   *  ---
   *  Estilo do elemento tarefas quando
   *  o mouse está em cima.
   */
  &:hover {
    background-color: $grey-lightest
  }

  /**
   *  .todos-todo__check
   *  ---
   *  Estilo do ícone de tarefas.
   */
  &__check {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: .25rem;
    margin-left: 1rem;
  }

  /**
   *  .todos-todo__check--off
   *  ---
   *  Estilo do ícone de tarefas
   *  não completadas.
   */
  &__check--off {
    opacity: .5;
  }

  /**
   *  .todos-todo__active
   *  ---
   *  Estilo do wrapper dos ícones de
   *  tarefas ativos.
   */
  &__active {
    display: block;
  }

  /**
   *  .todos-todo__inactive
   *  ---
   *  Estilo do wrapper dos ícones de
   *  tarefas inativos.
   */
  &__inactive {
    display: none;
  }

  /**
   *  .todos-todo:hover .todos-todo__destroy
   *  ---
   *  Estilo do botão de deletar quando o mouse
   *  entra no elemento .todos-todo.
   */
  &:hover &__destroy {
    display: flex
  }

  /**
   *  .todos-todo__destroy
   *  ---
   *  Estilo do botão de deletar.
   */
  &__destroy {

    // .todos-todo__destroy
    & {
      display: none;
      align-items: center;
      justify-content: center;
      height: 3.4rem;
      width: 3.4rem;
      background: $red;
      color: white;
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
      cursor: pointer;
    }

    // .todos-todo__destroy:hover
    &:hover {
      background-color: $red-light;
    }

  }

  /**
   *  .todos-todo__destroy--icon
   *  ---
   *  Estilo do ícone de deletar.
   */
  &__destroy--icon {
    font-size: 2rem
  }


  /**
   *  .todos-todo__title
   *  ---
   *  Estilo do título das tarefas.
   */
  &__title {

    // .todos-todo__title
    & {
      flex:1;
      height: 100%;
      user-select: none;
      font-size: $font-size-md;
      margin: 0;
      padding: 1rem;
      cursor: pointer;
    }
    
    // .todos-todo__title.complete
    &.complete {
      color: $grey;
      text-decoration: line-through
    }

  }

}
