.todos-form {
  
  & {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }

  &__input {
    width: 100%;
    padding: 1rem;
    margin: 0 1rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid $grey;
  }

  &__input:hover {
    border-color: $grey-light;
  }

  &__input:focus {
    border-color: $primary-lightest;
  }

}